/* Reset and General Styling */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #121212;
  color: #fff;
}

/* Navigation Bar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #1f1f1f;
}

.navbar h1 {
  color: #ff78b6;
  font-size: 1.8rem;
}

/* Search Input Field */
.search-container {
  display: flex;
  align-items: center;
}

.search-input {
  padding: 8px 10px;
  width: 200px;
  border: none;
  border-radius: 3px;
  outline: none;
}

.search-toggle {
  background-color: #ff78b6;
  border: none;
  color: #fff;
  padding: 8px 12px;
  margin-left: 5px;
  cursor: pointer;
  border-radius: 3px;
  transition: background-color 0.3s;
}

.search-toggle:hover {
  background-color: #e06699;
}

.search-toggle{
  display: none;
}

.nav-buttons{
  padding-left:5px;
}


/* Login Button */
.nav-buttons button {   
  background-color: #ff78b6;
  border: none;
  color: #fff;
  padding: 8px 12px;
  cursor: pointer;
  border-radius: 3px;
  transition: background-color 0.3s;
}

.nav-buttons button:hover {
  background-color: #e06699;
}






@media (max-width: 768px) { 
.search-input{
  display: none;
}
.search-btn{
  display: block; 
}

}


